.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .authForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    text-align: center;
  }

  h2 {
    background-color: #000000;
    margin-bottom: 15px;
    border-radius: 4px;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: large;
    font-weight: 300;
    outline: none;
    background-color: white;
    color: black;
  }

  .inputField:active {
    background-color: #fff;
    outline: none;
    font-weight: 200;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #1da1f2;
    color: #fff;
    border: none;
    margin-bottom: 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0f7ae5;
  }

  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
    background-color: white;
  }
  
  .divider span:nth-child(odd){
    flex: 1;
    height: 1px;
    background-color: #000000;
  }
  
  .dividerText {
    background-color: #ffffff;
    padding: 0 5px;
    color: #000000;
  }
  
  